<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.business.mapper.BPmMapper">
  <resultMap id="BaseResultMap" type="com.zx.business.pojo.BPm">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pm_data" jdbcType="VARCHAR" property="pmData" />
    <result column="pm_tax" jdbcType="VARCHAR" property="pmTax" />
    <result column="pm_electric" jdbcType="REAL" property="pmElectric" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pm_data, pm_tax, pm_electric, p_id
  </sql>
  <select id="selectByExample" parameterType="com.zx.business.pojo.BPmExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_pm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_pm
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_pm
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zx.business.pojo.BPmExample">
    delete from b_pm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zx.business.pojo.BPm">
    insert into b_pm (id, pm_data, pm_tax, 
      pm_electric, p_id)
    values (#{id,jdbcType=INTEGER}, #{pmData,jdbcType=VARCHAR}, #{pmTax,jdbcType=VARCHAR}, 
      #{pmElectric,jdbcType=REAL}, #{pId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zx.business.pojo.BPm">
    insert into b_pm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pmData != null">
        pm_data,
      </if>
      <if test="pmTax != null">
        pm_tax,
      </if>
      <if test="pmElectric != null">
        pm_electric,
      </if>
      <if test="pId != null">
        p_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pmData != null">
        #{pmData,jdbcType=VARCHAR},
      </if>
      <if test="pmTax != null">
        #{pmTax,jdbcType=VARCHAR},
      </if>
      <if test="pmElectric != null">
        #{pmElectric,jdbcType=REAL},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zx.business.pojo.BPmExample" resultType="java.lang.Long">
    select count(*) from b_pm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update b_pm
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pmData != null">
        pm_data = #{record.pmData,jdbcType=VARCHAR},
      </if>
      <if test="record.pmTax != null">
        pm_tax = #{record.pmTax,jdbcType=VARCHAR},
      </if>
      <if test="record.pmElectric != null">
        pm_electric = #{record.pmElectric,jdbcType=REAL},
      </if>
      <if test="record.pId != null">
        p_id = #{record.pId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update b_pm
    set id = #{record.id,jdbcType=INTEGER},
      pm_data = #{record.pmData,jdbcType=VARCHAR},
      pm_tax = #{record.pmTax,jdbcType=VARCHAR},
      pm_electric = #{record.pmElectric,jdbcType=REAL},
      p_id = #{record.pId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.business.pojo.BPm">
    update b_pm
    <set>
      <if test="pmData != null">
        pm_data = #{pmData,jdbcType=VARCHAR},
      </if>
      <if test="pmTax != null">
        pm_tax = #{pmTax,jdbcType=VARCHAR},
      </if>
      <if test="pmElectric != null">
        pm_electric = #{pmElectric,jdbcType=REAL},
      </if>
      <if test="pId != null">
        p_id = #{pId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.business.pojo.BPm">
    update b_pm
    set pm_data = #{pmData,jdbcType=VARCHAR},
      pm_tax = #{pmTax,jdbcType=VARCHAR},
      pm_electric = #{pmElectric,jdbcType=REAL},
      p_id = #{pId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectpm" parameterType="int" resultMap="BaseResultMap">
 		select d.*,f.* from  b_pm d left join b_park f on d.p_id=f.id where f.id=${acid}
 </select>
</mapper>