*{
    margin:0;
    padding:0;
    list-style:none;
    box-sizing: border-box;
}
a{
    text-decoration:none;
}
html{
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
    background:url(img/big.png);
    background-size: cover;
}
.title{
    text-align: center;
    padding:10px 0;
    font-size:26px;
    color:#fff;
    font-weight: bold;
}
.title img{
    width:30%;
    vertical-align: middle;
}
.content{
    width:100%;
    height:calc(100% - 60px);
    overflow: hidden;
    padding:0 30px 30px;
    position:relative; 
}
.time{
	position: absolute;
	right:30px;
	bottom:0;
	color:#b0ecfe;
}
.left{
    width:42%;
    height:100%;
    float:left;
    margin-right:1%;
}
.right{
    width:42%;
    height:100%;
    float:left;
    margin-right:1%;
}
.right-r{
    width:14%;
    height:100%;
    float:left;
}
.left .top{
    width:100%;
    height:75%;
}
.left .top .con{
    width:100%;
    height:calc(100% - 30px);
    background:rgba(16,29,76,0.8);
}
.tit{
    height:30px;
    line-height: 30px;
	position: relative;
}
.d-tip{
display:block;
    position: absolute;
    right:0;
    top:0;
    line-height: 30px;
}
.d-tip > img{
    height:12px !important;
    width:20px;
}

.tit img{
    width:10px;
    vertical-align: middle;
}
.tit span{
    color:#b0ecfe;
    vertical-align: middle;
	font-weight:bold;
}
.left .bottom{
    width:100%;
    height:25%;
}
.left .bottom li{
    width:48%;
    height:100%;
    float:left;
}
.left .bottom li:first-child{
    margin-right:4%;
}
.left .bottom li .con{
    width:100%;
    height:calc(100% - 20px);
    background:rgba(16,29,76,0.8);
}
.right .top{
    width:100%;
    height:75%;
}
.right .bottom{
    width:100%;
    height:25%;
}
.right .top .con{
    width:100%;
    height:calc(100% - 30px);
    padding:15px;
    background:rgba(16,29,76,0.8);
}
.right .top .con li{
    width:49%;
    height:50%;
    float:left;
}
.right .top .con li:first-child,.right .top .con li:nth-child(3){
    margin-right:2%;
}
.right .top .con li h6{
    color:#fff;
    font-size:14px;
    line-height: 25px;
}
.right .top .con li .licon{
    width:100%;
    height:calc(100% - 25px);
    background:rgba(16,29,76,0.8);
	overflow:hidden !important;
	table-layout:fixed;
}

.right .bottom .con{
    width:100%;
    height:calc(100% - 20px);
    overflow: hidden;
    background:rgba(16,29,76,0.8);
}
.right .bottom .con li{
    width:49%;
    height:100%;
    float:left;
}
.right .bottom .con li:first-child{
    margin-right:2%;
}
.right .bottom .con li h6{
    color:#fff;
    font-size:14px;
    line-height: 25px;
}
.bottom .tit .img{
    width:92px;
}
.right .bottom .con li .licon{
    width:100%;
    height:100%;
    background:rgba(16,29,76,0.8);
	overflow:hidden !important;
	table-layout:fixed;
}

.right-r .top{
    width:100%;
    height:75%;
}
.right-r .bottom{
    width:100%;
    height:25%;
}
.right-r .con{
    width:100%;
    height:calc(100% - 30px);
    background:rgba(16,29,76,0.8);
    padding:15px;
}

.right-r .con .li{
    padding:10px 0;
	height:20%;
}
.swiper-li{
    border-left:1px solid #01b6fc;
    padding-left:15px;
}
.swiper-li p{
    font-size:14px;
    color:#01b6fc;
    margin-bottom:10px;
}
.swiper-li div span:first-child{
    font-size:18px;
    color:#fff;
}
.swiper-li div span:last-child{
    font-size:12px;
    color:#01f9fd;
    float:right;
}
.swiper-li div span:last-child img{
    width:12px;
    height:15px;
    vertical-align: middle;
}
.wen-ei li{
    overflow: hidden;
}
.wen-ei li img{
    width:20px;
    height:20px;
    float:left;
    vertical-align: middle;
    margin:10px 5px 0 0;
}
.wen-ei li div{
    float:left;
}
.wen-ei li div p{
    line-height: 20px;
}
.wen-ei li div p span:first-child{
    color:#01b6fc;
    font-size:12px;
}
.wen-ei li div p span:last-child{
    color:#fff;
    font-size:12px;
}
