<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.business.mapper.IndustryAddMapper">
  <resultMap id="BaseResultMap" type="com.zx.business.pojo.IndustryAdd">
    <id column="month" jdbcType="INTEGER" property="month" />
    <result column="big_industry_add" jdbcType="REAL" property="bigIndustryAdd" />
    <result column="big_zxqy_add" jdbcType="REAL" property="bigZxqyAdd" />
    <result column="industry_cpxsl" jdbcType="REAL" property="industryCpxsl" />
    <result column="fadianliang" jdbcType="REAL" property="fadianliang" />
    <result column="yuanqu_gyydl" jdbcType="REAL" property="yuanquGyydl" />
    <result column="rail_hyl" jdbcType="REAL" property="railHyl" />
    <result column="road_hyl" jdbcType="REAL" property="roadHyl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    month, big_industry_add, big_zxqy_add, industry_cpxsl, fadianliang, yuanqu_gyydl, 
    rail_hyl, road_hyl
  </sql>
  <select id="selectByExample" parameterType="com.zx.business.pojo.IndustryAddExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from industry_add
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from industry_add
    where month = #{month,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from industry_add
    where month = #{month,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zx.business.pojo.IndustryAddExample">
    delete from industry_add
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zx.business.pojo.IndustryAdd">
    insert into industry_add (month, big_industry_add, big_zxqy_add, 
      industry_cpxsl, fadianliang, yuanqu_gyydl, 
      rail_hyl, road_hyl)
    values (#{month,jdbcType=INTEGER}, #{bigIndustryAdd,jdbcType=REAL}, #{bigZxqyAdd,jdbcType=REAL}, 
      #{industryCpxsl,jdbcType=REAL}, #{fadianliang,jdbcType=REAL}, #{yuanquGyydl,jdbcType=REAL}, 
      #{railHyl,jdbcType=REAL}, #{roadHyl,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zx.business.pojo.IndustryAdd">
    insert into industry_add
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="month != null">
        month,
      </if>
      <if test="bigIndustryAdd != null">
        big_industry_add,
      </if>
      <if test="bigZxqyAdd != null">
        big_zxqy_add,
      </if>
      <if test="industryCpxsl != null">
        industry_cpxsl,
      </if>
      <if test="fadianliang != null">
        fadianliang,
      </if>
      <if test="yuanquGyydl != null">
        yuanqu_gyydl,
      </if>
      <if test="railHyl != null">
        rail_hyl,
      </if>
      <if test="roadHyl != null">
        road_hyl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="month != null">
        #{month,jdbcType=INTEGER},
      </if>
      <if test="bigIndustryAdd != null">
        #{bigIndustryAdd,jdbcType=REAL},
      </if>
      <if test="bigZxqyAdd != null">
        #{bigZxqyAdd,jdbcType=REAL},
      </if>
      <if test="industryCpxsl != null">
        #{industryCpxsl,jdbcType=REAL},
      </if>
      <if test="fadianliang != null">
        #{fadianliang,jdbcType=REAL},
      </if>
      <if test="yuanquGyydl != null">
        #{yuanquGyydl,jdbcType=REAL},
      </if>
      <if test="railHyl != null">
        #{railHyl,jdbcType=REAL},
      </if>
      <if test="roadHyl != null">
        #{roadHyl,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zx.business.pojo.IndustryAddExample" resultType="java.lang.Long">
    select count(*) from industry_add
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update industry_add
    <set>
      <if test="record.month != null">
        month = #{record.month,jdbcType=INTEGER},
      </if>
      <if test="record.bigIndustryAdd != null">
        big_industry_add = #{record.bigIndustryAdd,jdbcType=REAL},
      </if>
      <if test="record.bigZxqyAdd != null">
        big_zxqy_add = #{record.bigZxqyAdd,jdbcType=REAL},
      </if>
      <if test="record.industryCpxsl != null">
        industry_cpxsl = #{record.industryCpxsl,jdbcType=REAL},
      </if>
      <if test="record.fadianliang != null">
        fadianliang = #{record.fadianliang,jdbcType=REAL},
      </if>
      <if test="record.yuanquGyydl != null">
        yuanqu_gyydl = #{record.yuanquGyydl,jdbcType=REAL},
      </if>
      <if test="record.railHyl != null">
        rail_hyl = #{record.railHyl,jdbcType=REAL},
      </if>
      <if test="record.roadHyl != null">
        road_hyl = #{record.roadHyl,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update industry_add
    set month = #{record.month,jdbcType=INTEGER},
      big_industry_add = #{record.bigIndustryAdd,jdbcType=REAL},
      big_zxqy_add = #{record.bigZxqyAdd,jdbcType=REAL},
      industry_cpxsl = #{record.industryCpxsl,jdbcType=REAL},
      fadianliang = #{record.fadianliang,jdbcType=REAL},
      yuanqu_gyydl = #{record.yuanquGyydl,jdbcType=REAL},
      rail_hyl = #{record.railHyl,jdbcType=REAL},
      road_hyl = #{record.roadHyl,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.business.pojo.IndustryAdd">
    update industry_add
    <set>
      <if test="bigIndustryAdd != null">
        big_industry_add = #{bigIndustryAdd,jdbcType=REAL},
      </if>
      <if test="bigZxqyAdd != null">
        big_zxqy_add = #{bigZxqyAdd,jdbcType=REAL},
      </if>
      <if test="industryCpxsl != null">
        industry_cpxsl = #{industryCpxsl,jdbcType=REAL},
      </if>
      <if test="fadianliang != null">
        fadianliang = #{fadianliang,jdbcType=REAL},
      </if>
      <if test="yuanquGyydl != null">
        yuanqu_gyydl = #{yuanquGyydl,jdbcType=REAL},
      </if>
      <if test="railHyl != null">
        rail_hyl = #{railHyl,jdbcType=REAL},
      </if>
      <if test="roadHyl != null">
        road_hyl = #{roadHyl,jdbcType=REAL},
      </if>
    </set>
    where month = #{month,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.business.pojo.IndustryAdd">
    update industry_add
    set big_industry_add = #{bigIndustryAdd,jdbcType=REAL},
      big_zxqy_add = #{bigZxqyAdd,jdbcType=REAL},
      industry_cpxsl = #{industryCpxsl,jdbcType=REAL},
      fadianliang = #{fadianliang,jdbcType=REAL},
      yuanqu_gyydl = #{yuanquGyydl,jdbcType=REAL},
      rail_hyl = #{railHyl,jdbcType=REAL},
      road_hyl = #{roadHyl,jdbcType=REAL}
    where month = #{month,jdbcType=INTEGER}
  </update>
</mapper>