<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.business.mapper.ParkTaxMapper">
  <resultMap id="BaseResultMap" type="com.zx.business.pojo.ParkTax">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="park_name" jdbcType="VARCHAR" property="parkName" />
    <result column="p_tax" jdbcType="VARCHAR" property="pTax" />
    <result column="P_electric" jdbcType="VARCHAR" property="pElectric" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, park_name, p_tax, P_electric
  </sql>
  <select id="selectByExample" parameterType="com.zx.business.pojo.ParkTaxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from park_tax
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from park_tax
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from park_tax
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zx.business.pojo.ParkTaxExample">
    delete from park_tax
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zx.business.pojo.ParkTax">
    insert into park_tax (id, park_name, p_tax, 
      P_electric)
    values (#{id,jdbcType=INTEGER}, #{parkName,jdbcType=VARCHAR}, #{pTax,jdbcType=VARCHAR}, 
      #{pElectric,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zx.business.pojo.ParkTax">
    insert into park_tax
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parkName != null">
        park_name,
      </if>
      <if test="pTax != null">
        p_tax,
      </if>
      <if test="pElectric != null">
        P_electric,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parkName != null">
        #{parkName,jdbcType=VARCHAR},
      </if>
      <if test="pTax != null">
        #{pTax,jdbcType=VARCHAR},
      </if>
      <if test="pElectric != null">
        #{pElectric,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zx.business.pojo.ParkTaxExample" resultType="java.lang.Long">
    select count(*) from park_tax
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update park_tax
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.parkName != null">
        park_name = #{record.parkName,jdbcType=VARCHAR},
      </if>
      <if test="record.pTax != null">
        p_tax = #{record.pTax,jdbcType=VARCHAR},
      </if>
      <if test="record.pElectric != null">
        P_electric = #{record.pElectric,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update park_tax
    set id = #{record.id,jdbcType=INTEGER},
      park_name = #{record.parkName,jdbcType=VARCHAR},
      p_tax = #{record.pTax,jdbcType=VARCHAR},
      P_electric = #{record.pElectric,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.business.pojo.ParkTax">
    update park_tax
    <set>
      <if test="parkName != null">
        park_name = #{parkName,jdbcType=VARCHAR},
      </if>
      <if test="pTax != null">
        p_tax = #{pTax,jdbcType=VARCHAR},
      </if>
      <if test="pElectric != null">
        P_electric = #{pElectric,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.business.pojo.ParkTax">
    update park_tax
    set park_name = #{parkName,jdbcType=VARCHAR},
      p_tax = #{pTax,jdbcType=VARCHAR},
      P_electric = #{pElectric,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--按税收排名  -->
   <select id="selectalldesc" parameterType="com.zx.business.pojo.ParkTaxExample" resultMap="BaseResultMap">
  		select
  		<include refid="Base_Column_List" />
  		from park_tax order by p_tax desc
  </select>
  <!--按用电量排名  -->
   <select id="selectallydldesc" parameterType="com.zx.business.pojo.ParkTaxExample" resultMap="BaseResultMap">
  		select
  		<include refid="Base_Column_List" />
  		from park_tax order by p_electric desc
  </select>
</mapper>