<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.business.mapper.ParkCompanyAmountMapper">
  <resultMap id="BaseResultMap" type="com.zx.business.pojo.ParkCompanyAmount">
    <id column="month" jdbcType="INTEGER" property="month" />
    <result column="public_company" jdbcType="INTEGER" property="publicCompany" />
    <result column="group_company" jdbcType="INTEGER" property="groupCompany" />
    <result column="share_cooperate_company" jdbcType="INTEGER" property="shareCooperateCompany" />
    <result column="lian_ying_company" jdbcType="INTEGER" property="lianYingCompany" />
    <result column="limited_liability_company" jdbcType="INTEGER" property="limitedLiabilityCompany" />
    <result column="share_limited_company" jdbcType="INTEGER" property="shareLimitedCompany" />
    <result column="private_company" jdbcType="INTEGER" property="privateCompany" />
    <result column="hk_m_t_company" jdbcType="INTEGER" property="hkMTCompany" />
    <result column="foreign_company" jdbcType="INTEGER" property="foreignCompany" />
    <result column="other" jdbcType="INTEGER" property="other" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    month, public_company, group_company, share_cooperate_company, lian_ying_company, 
    limited_liability_company, share_limited_company, private_company, hk_m_t_company, 
    foreign_company, other
  </sql>
  <select id="selectByExample" parameterType="com.zx.business.pojo.ParkCompanyAmountExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from park_company_amount
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from park_company_amount
    where month = #{month,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from park_company_amount
    where month = #{month,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zx.business.pojo.ParkCompanyAmountExample">
    delete from park_company_amount
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zx.business.pojo.ParkCompanyAmount">
    insert into park_company_amount (month, public_company, group_company, 
      share_cooperate_company, lian_ying_company, 
      limited_liability_company, share_limited_company, 
      private_company, hk_m_t_company, foreign_company, 
      other)
    values (#{month,jdbcType=INTEGER}, #{publicCompany,jdbcType=INTEGER}, #{groupCompany,jdbcType=INTEGER}, 
      #{shareCooperateCompany,jdbcType=INTEGER}, #{lianYingCompany,jdbcType=INTEGER}, 
      #{limitedLiabilityCompany,jdbcType=INTEGER}, #{shareLimitedCompany,jdbcType=INTEGER}, 
      #{privateCompany,jdbcType=INTEGER}, #{hkMTCompany,jdbcType=INTEGER}, #{foreignCompany,jdbcType=INTEGER}, 
      #{other,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zx.business.pojo.ParkCompanyAmount">
    insert into park_company_amount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="month != null">
        month,
      </if>
      <if test="publicCompany != null">
        public_company,
      </if>
      <if test="groupCompany != null">
        group_company,
      </if>
      <if test="shareCooperateCompany != null">
        share_cooperate_company,
      </if>
      <if test="lianYingCompany != null">
        lian_ying_company,
      </if>
      <if test="limitedLiabilityCompany != null">
        limited_liability_company,
      </if>
      <if test="shareLimitedCompany != null">
        share_limited_company,
      </if>
      <if test="privateCompany != null">
        private_company,
      </if>
      <if test="hkMTCompany != null">
        hk_m_t_company,
      </if>
      <if test="foreignCompany != null">
        foreign_company,
      </if>
      <if test="other != null">
        other,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="month != null">
        #{month,jdbcType=INTEGER},
      </if>
      <if test="publicCompany != null">
        #{publicCompany,jdbcType=INTEGER},
      </if>
      <if test="groupCompany != null">
        #{groupCompany,jdbcType=INTEGER},
      </if>
      <if test="shareCooperateCompany != null">
        #{shareCooperateCompany,jdbcType=INTEGER},
      </if>
      <if test="lianYingCompany != null">
        #{lianYingCompany,jdbcType=INTEGER},
      </if>
      <if test="limitedLiabilityCompany != null">
        #{limitedLiabilityCompany,jdbcType=INTEGER},
      </if>
      <if test="shareLimitedCompany != null">
        #{shareLimitedCompany,jdbcType=INTEGER},
      </if>
      <if test="privateCompany != null">
        #{privateCompany,jdbcType=INTEGER},
      </if>
      <if test="hkMTCompany != null">
        #{hkMTCompany,jdbcType=INTEGER},
      </if>
      <if test="foreignCompany != null">
        #{foreignCompany,jdbcType=INTEGER},
      </if>
      <if test="other != null">
        #{other,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zx.business.pojo.ParkCompanyAmountExample" resultType="java.lang.Long">
    select count(*) from park_company_amount
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update park_company_amount
    <set>
      <if test="record.month != null">
        month = #{record.month,jdbcType=INTEGER},
      </if>
      <if test="record.publicCompany != null">
        public_company = #{record.publicCompany,jdbcType=INTEGER},
      </if>
      <if test="record.groupCompany != null">
        group_company = #{record.groupCompany,jdbcType=INTEGER},
      </if>
      <if test="record.shareCooperateCompany != null">
        share_cooperate_company = #{record.shareCooperateCompany,jdbcType=INTEGER},
      </if>
      <if test="record.lianYingCompany != null">
        lian_ying_company = #{record.lianYingCompany,jdbcType=INTEGER},
      </if>
      <if test="record.limitedLiabilityCompany != null">
        limited_liability_company = #{record.limitedLiabilityCompany,jdbcType=INTEGER},
      </if>
      <if test="record.shareLimitedCompany != null">
        share_limited_company = #{record.shareLimitedCompany,jdbcType=INTEGER},
      </if>
      <if test="record.privateCompany != null">
        private_company = #{record.privateCompany,jdbcType=INTEGER},
      </if>
      <if test="record.hkMTCompany != null">
        hk_m_t_company = #{record.hkMTCompany,jdbcType=INTEGER},
      </if>
      <if test="record.foreignCompany != null">
        foreign_company = #{record.foreignCompany,jdbcType=INTEGER},
      </if>
      <if test="record.other != null">
        other = #{record.other,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update park_company_amount
    set month = #{record.month,jdbcType=INTEGER},
      public_company = #{record.publicCompany,jdbcType=INTEGER},
      group_company = #{record.groupCompany,jdbcType=INTEGER},
      share_cooperate_company = #{record.shareCooperateCompany,jdbcType=INTEGER},
      lian_ying_company = #{record.lianYingCompany,jdbcType=INTEGER},
      limited_liability_company = #{record.limitedLiabilityCompany,jdbcType=INTEGER},
      share_limited_company = #{record.shareLimitedCompany,jdbcType=INTEGER},
      private_company = #{record.privateCompany,jdbcType=INTEGER},
      hk_m_t_company = #{record.hkMTCompany,jdbcType=INTEGER},
      foreign_company = #{record.foreignCompany,jdbcType=INTEGER},
      other = #{record.other,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.business.pojo.ParkCompanyAmount">
    update park_company_amount
    <set>
      <if test="publicCompany != null">
        public_company = #{publicCompany,jdbcType=INTEGER},
      </if>
      <if test="groupCompany != null">
        group_company = #{groupCompany,jdbcType=INTEGER},
      </if>
      <if test="shareCooperateCompany != null">
        share_cooperate_company = #{shareCooperateCompany,jdbcType=INTEGER},
      </if>
      <if test="lianYingCompany != null">
        lian_ying_company = #{lianYingCompany,jdbcType=INTEGER},
      </if>
      <if test="limitedLiabilityCompany != null">
        limited_liability_company = #{limitedLiabilityCompany,jdbcType=INTEGER},
      </if>
      <if test="shareLimitedCompany != null">
        share_limited_company = #{shareLimitedCompany,jdbcType=INTEGER},
      </if>
      <if test="privateCompany != null">
        private_company = #{privateCompany,jdbcType=INTEGER},
      </if>
      <if test="hkMTCompany != null">
        hk_m_t_company = #{hkMTCompany,jdbcType=INTEGER},
      </if>
      <if test="foreignCompany != null">
        foreign_company = #{foreignCompany,jdbcType=INTEGER},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=INTEGER},
      </if>
    </set>
    where month = #{month,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.business.pojo.ParkCompanyAmount">
    update park_company_amount
    set public_company = #{publicCompany,jdbcType=INTEGER},
      group_company = #{groupCompany,jdbcType=INTEGER},
      share_cooperate_company = #{shareCooperateCompany,jdbcType=INTEGER},
      lian_ying_company = #{lianYingCompany,jdbcType=INTEGER},
      limited_liability_company = #{limitedLiabilityCompany,jdbcType=INTEGER},
      share_limited_company = #{shareLimitedCompany,jdbcType=INTEGER},
      private_company = #{privateCompany,jdbcType=INTEGER},
      hk_m_t_company = #{hkMTCompany,jdbcType=INTEGER},
      foreign_company = #{foreignCompany,jdbcType=INTEGER},
      other = #{other,jdbcType=INTEGER}
    where month = #{month,jdbcType=INTEGER}
  </update>
</mapper>