<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.business.mapper.PublicBudgetSrMapper">
  <resultMap id="BaseResultMap" type="com.zx.business.pojo.PublicBudgetSr">
    <id column="month" jdbcType="INTEGER" property="month" />
    <result column="public_budget_sr" jdbcType="REAL" property="publicBudgetSr" />
    <result column="public_budget_zc" jdbcType="REAL" property="publicBudgetZc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    month, public_budget_sr, public_budget_zc
  </sql>
  <select id="selectByExample" parameterType="com.zx.business.pojo.PublicBudgetSrExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from public_budget_sr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public_budget_sr
    where month = #{month,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from public_budget_sr
    where month = #{month,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zx.business.pojo.PublicBudgetSrExample">
    delete from public_budget_sr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zx.business.pojo.PublicBudgetSr">
    insert into public_budget_sr (month, public_budget_sr, public_budget_zc
      )
    values (#{month,jdbcType=INTEGER}, #{publicBudgetSr,jdbcType=REAL}, #{publicBudgetZc,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zx.business.pojo.PublicBudgetSr">
    insert into public_budget_sr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="month != null">
        month,
      </if>
      <if test="publicBudgetSr != null">
        public_budget_sr,
      </if>
      <if test="publicBudgetZc != null">
        public_budget_zc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="month != null">
        #{month,jdbcType=INTEGER},
      </if>
      <if test="publicBudgetSr != null">
        #{publicBudgetSr,jdbcType=REAL},
      </if>
      <if test="publicBudgetZc != null">
        #{publicBudgetZc,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zx.business.pojo.PublicBudgetSrExample" resultType="java.lang.Long">
    select count(*) from public_budget_sr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update public_budget_sr
    <set>
      <if test="record.month != null">
        month = #{record.month,jdbcType=INTEGER},
      </if>
      <if test="record.publicBudgetSr != null">
        public_budget_sr = #{record.publicBudgetSr,jdbcType=REAL},
      </if>
      <if test="record.publicBudgetZc != null">
        public_budget_zc = #{record.publicBudgetZc,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update public_budget_sr
    set month = #{record.month,jdbcType=INTEGER},
      public_budget_sr = #{record.publicBudgetSr,jdbcType=REAL},
      public_budget_zc = #{record.publicBudgetZc,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.business.pojo.PublicBudgetSr">
    update public_budget_sr
    <set>
      <if test="publicBudgetSr != null">
        public_budget_sr = #{publicBudgetSr,jdbcType=REAL},
      </if>
      <if test="publicBudgetZc != null">
        public_budget_zc = #{publicBudgetZc,jdbcType=REAL},
      </if>
    </set>
    where month = #{month,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.business.pojo.PublicBudgetSr">
    update public_budget_sr
    set public_budget_sr = #{publicBudgetSr,jdbcType=REAL},
      public_budget_zc = #{publicBudgetZc,jdbcType=REAL}
    where month = #{month,jdbcType=INTEGER}
  </update>
</mapper>