body{
	text-align: center;
}
#base{
	border: hidden;
	height: 40px;
	width: 500px;
}

.in{
	border: hidden;
	height: 40px;
	width: 250px;
}
table{
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}
#shuname{
	height: 40px;
	width: 80px;
}
td{
	padding-left: 5px;
}
#asd{
	margin-top: 20px;
}
#button{
	margin-top: 20px;
}
