{
	font-size: 12px;
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
}
body,html{
	background: #F6F6F6 !important;
}



/*项目标题*/
.xmtitle{
	
	height: 150px;
	background: url(../imgs/newing/773220691610682091.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 100px;
}
.xmtitle .title_wi{
	width: 1200px;
	margin: 0 auto;
/* 	overflow: hidden; */
	padding-top: 30px;
	height: 160px;
}
.xmtitle .title_wi .title_name{
	color: #FFFFFF;
	font-size: 24px;
	float: left;
	width: 50%;
	margin-right: 20px;
	line-height: 45px;
	margin-left: 35px;
}
.xmtitle .title_wi .title_sx{
	background: #F3A000;
	padding: 5px 10px;
	/*height: 30px;*/
	float: left;
	text-align: center;
	color: #FFFFFF;
	margin-top: 10px;
}
.xmtitle .title_wi p{
	float: right;
	color: #DAEBFD;
	text-align: right;
    margin-right: 30px;
    margin-top: 50px;
    line-height: 25px;
}
.xmtitle .title_wi img{
	float: right;
	width: 10%;
	margin-top: -10px;
	margin-right: 90px;
}


#top {
    background: #4C7FFE;
}

.con_head{
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
}
.con_head h4{
	background: url(../imgs/img/----------------------------------------Credentialin.png) no-repeat;
	width: 820px;
	height: 55px;
	padding: 15px 35px;
	color: #FFFFFF;
}
.pogoSlider {
    width: 100%;
    height: 380px;
    overflow: hidden;
}

#img{
	width: 100%;
	height: 100%;
}
.pogoSlider img{
	width: 100%;
	/*height: 100%;*/
}
.imgbtn{
	width:20px;
	height:66px;
	position:absolute;
	top:40%
}
.imgbtn.imgleft{
	left:0;
}
.imgbtn.imgright{
	right:0;
}
.imgbtn img{
	width: 100%;height: 100%;
}
.pogoSlider--navBottom .pogoSlider-nav {
    bottom: 10px;
}
.pogoSlider .pogoSlider-slide{
	height: 100%;
	overflow: hidden;
}
.pogoSlider .pogoSlider-slide ul{
	/*width: 300%;*/
	height: 90%;
	margin: 0;

}
.pogoSlider .pogoSlider-slide ul li{
	width: 500px;
	height: 100%;
	float: left;
}
.pogoSlider .pogoSlider-slide ul li a{
	display: block;
	width: 100%;
	height: 100%;
	background: #e4e4e4;
	
	position: relative;
}
.pogoSlider .pogoSlider-slide ul li a img{
	width: auto;
		height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}
/*con*/
.con{
	width: 1200px;
    padding-right: 70px;;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 40px;
	background: #FFFFFF;
	height: 380px;
	/*border: 1px solid #C9C9C9;*/
}
.con .con_left{
	float: left;
	/*margin-left: 150px;*/
	/*border: 1px solid #C9C9C9;*/
	width: 500px;
	/*height: 100%;*/
}
.con_left ul{
	overflow:hidden ;
	margin: 10px 0;
}
.con_left ul li{
    width: 33.33%;
    float: left;
    margin-left: 0;
    /*border-right: 1px solid #C9C9C9;*/
    text-align: center;
    line-height: 30px;
}
.con_left ul li:last-child{
	border-right: 0;
}
.con .con_right{
	width: 50%;
	float: right;
	line-height: 31px;
	margin-top: 20px;
}
.con_right h4{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 40px;
}
.con_right ul{
	margin-top: 20px;
}
.con_right ul li{	
	width: 50%;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
}
.con_right ul li:last-child{
	width: 100%;
}
.con_right ul li:first-child{
	width: 100%;
}

/*xx*/
.xx{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 60px;
}
.xx_head{
	margin-left: 105px;
	width: 1015px;
	background: url(../imgs/img/tyx.png) no-repeat;
	height:95px;
}
.xx_head h4{
	color: #FFFFFF;
	padding: 50px 460px;
}
.xx_ul{
	width: 1015px;
	margin-top: 30px;
	margin-left: 115px;
	height: 360px;
}
.xx_li{
	float: left;
	padding: 35px;
	width: 483px;
	background: #4C7FFE;
	height: 200px;
	margin-right: 20px;
	margin-top: 20px;
}
.xx_li h5{
	float: left;
	height: 60px;
	width: 20px;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;
}
.xx_li ul{
	width: 80%;
	float: left;
	margin-top: -23px;
    margin-left: 50px;
    line-height: 30px;
}
.xx_li ul li{
	color: #FFFFFF;
}
.xx_li ul .zjxx_li{
	color: #AFC2FF;
	
}
.xx_li ul li{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.xx_ul .gl{
	background: #FFFFFF;
	border: 1px solid #DADADA;
}
.xx_ul .gl h5{
	color: #626262;
	font-weight: bold;
	border-right: 1px solid #626262;
	margin-top: 30px;
}
/*.xx_li .gl_ul{
	margin-top: -10px;
}*/
.xx_ul .gl ul li{
	color: #7d7c7c;
	
}
.xx_ul .gl ul li span{
	margin-left: 50px;
	color: #000000;
}
.xx_ul .gl ul li .gs{
	margin-left: 78px;
}
/*.xx_li .kfs {
    margin-top: -104px;
}*/
.xx_li .kfs .kfs_sp{
	margin-left: 37px;
}
.xx_ul .gl ul li .kfs_span{
	margin-left: 50px;
}
.xx_ul .wy{
	background: #1AAE88;
}
.wy ul .zjxx_li{
	color: #7d7c7c;
}

/*lzxx*/
.lzxx{
	width: 1200px;
	margin: 0 auto;
}
.lzxx_bg{
	background: url(../imgs/img/xxbg.png) no-repeat;
	width: 950px;
	height: 240px;
	margin-left: 130px;
	padding: 85px 40px;
	margin-top: 30px;
	position: relative;
}
.lzxx_bg h3,.lzxx_bg ul,.lzxx_bg h5{
	float: left;
	color: #FFFFFF;
}
.lzxx_bg ul{
	    width: 250px;
    margin-left: 62px;
    line-height: 50px;
    margin-top: -35px;
}
.lzxx_bg ul li{
	    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lzxx_bg ul li span{
	margin-right: 80px;
	color: #AFC2FF;
}
.lzxx_bg h5{
	margin-left: 35px;
	margin-top: -35px;
	font-size: 18px;
}
/*price*/
.price{
	width: 1200px;
	margin: 0 auto;
}
.price h4{
	background: url(../imgs/img/pricebg.png) no-repeat;
	padding: 5px 455px;
	margin-left: 100px;
	margin-top: 60px;
}
.price strong,.price p,.price span{
	margin-left: 100px;
}
.price p{
	margin-top: 10px;
	margin-bottom: 10px;
}
.price span{
	border-left: 6px solid #FFD220;
	padding-left: 10px;
	display: block;
}
.price img{
	margin-left: 270px;
    margin-top: -15px;
}
/*xmphoto*/
.xmphoto{
	width: 1200px;
	margin: 0 auto;
	margin-top: 60px;
	position: relative;
}
.xmphoto h4{
	margin-left: 550px;
	color: #6F6F6F;
}
.xmphoto ul{
	margin-left: 125px;
	overflow: hidden;
	margin-top: 60px;
}
.xmphoto ul li{
	float: left;
}
.xmphoto .photojia1{
	position: absolute;
	top: 85px;
	left: 395px;
}
.xmphoto .photojia2{
	position: absolute;
	top: 85px;
	left: 705px;
}
/*comment*/
/*.comment{
	width: 1240px;
	margin: 0 auto;
}*/
.comment h4{
	background: url(../imgs/img/pricebg.png) no-repeat;
	padding: 5px 455px;
	margin-left: 100px;
	margin-top: 60px;
}
.comment ul{
	/*margin-top: 50px;*/
	/*margin-left: 120px;*/
}
.comment .comment_ul .comment_li{
	border-bottom: 1px solid #E5E5E5;
	border-radius: 5px;
	width: 100%;
	/*height:120px;*/
	overflow: hidden;
	padding: 10px 25px;
	margin-bottom: 30px;
}
.comment_li img{
	float: left;
	width: 8%;
}
.comment_li .comment_text{
	float: left;
	width:530px;
	margin-left: 25px;
    margin-top: -10px;
    color: #858585;
}
.comment_li .comment_text span{
	width: 500px;
	font-size: 13px;
	color: #8E8E8E;
}
.comment_li .comment_text h5{
	font-size: 15px;
	color: #222222;
	/*width: 300px;*/
	line-height: 30px;
}
.comment_li .comment_img{
	float: left;
	overflow: hidden;
	margin-left: 545px;
   margin-top: 0px;
   width: 80px;
}
.comment_img li{
	float: left;
	margin-right: 20px;
}
.comment_img li a{
	text-decoration: none;
}
.comment_img li a img{
	margin-right: 10px;
    height: 20px;
}
.comment .btn-info{
	background: #4C7FFE;
	border: 1px solid #4C7FFE;
	margin-left: 970px;
	margin-top: 20px;
}
/*update*/
.update{
	width:100%;
	margin: 0 auto;
	/*margin-top: 30px;
	margin-bottom: 50px;*/
	overflow: hidden;
}
.update .update_left{
	float: left;
	height: 53px;
	margin-left: 145px;
	overflow: hidden;
}
.update .update_left img{
	float: left;
}
.update .update_left span{
	float: left;
	display: block;
    width: 84px;
    margin-top: 7px;
    margin-left: 10px;
}
.update .update_right{
	float: right;
	margin-right: 145px;
	margin-top: 7px;
}
.update .update_right a{
	text-decoration: none;
	color: #6690FE;
	font-size: 18px;
}
.update ul{
	margin-top: 30px;
	/*margin-left: 100px;*/
	overflow: hidden;

}
.update ul li{
	/*float: left;*/
	border: 1px solid #8CADFE;
	/*width: 220px;*/
	height: 275px;
	padding: 20px 25px;
	line-height: 30px;
	/*margin-left: 70px;*/
}
.update ul li a{
	width: 100%;
}
.update ul li span{
	color: #5C89FE;
}
.update ul li .junja{
	float: right;
	width: 170px;
    text-align: right;
}
.update ul li .update_p{
	float: right;
}
.update ul li .update_p img{
	margin-right: 5px;
}
.update ul .update_bo{
	border: 1px solid #D3D3D3;
}
.update h4{
	height: 20px;
    width: 630px;
    text-align: right;
}
.point {
    width: 4px;
    height: 4px;
    background: #bbb9c4;
    margin-top: 10px;
    float: left;
}
.intro_content .right {
    width: 95%;
    float: left;
    margin-left: 10px;
}
.intro_content .right p{
    line-height: 25px;
}
.intro_content .right .right_con{
	color: #8E8E8E;
}
.nav>li>a{
	padding: 10px 40px;
}
/*footer*/
/*#footer,#foot{
	width: 100%;
	padding: 0 10px;
	background: #4C7FFE;
}*/


.con_left ul li img{
	width: 20px;
}

#relative li{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
a#buildmore {
	width: 142px;
    position: absolute;
    right: 3%;
    top: 28%;

}

#msg{
        width:400px;
        position: fixed;
        top: 30%;
        left:46%;
        margin-top:-80px;
        margin-left:-133px;      
        z-index:999;
        background:#fff;
        box-shadow:5px 5px 8px #999;
        font-size:17px;
        color:#666;
        border:1px solid #f8f8f8;
        text-align: center;
        line-height: 2rem;
        display:inline-block;
        padding-bottom:20px;
        border-radius:2px;
    }
    #msg_top{
        background:#f8f8f8;
        padding:5px 15px 5px 20px;
        text-align:left;
    }
    #msg_top span{
        font-size:20px;
        float:right;
        cursor:pointer;
    }
    #msg_cont{
        padding:15px 20px 20px;
        text-align:left;
        line-height: 70px;
        text-align: center;
    }
    #msg_cont img{
    	width: 200px;
    }
    #msg_clear,#cancel{
        display:inline-block;
        color:#fff;
        padding:1px 15px;
        background:#b1b2b5;
        border-radius:2px;
        /*float:right;*/
        /*margin-right:25px;*/
        margin: 15px 25px;
        cursor:pointer;
        font-size: 16px;
    }
    #msg_clear{
    	background: #008DF3;
    }
    
/*选项卡*/
.alltab{
	width: 1200px;
	margin: 0 auto;
}
.house_tabs{
	width: 75%;
	margin: 50px 0px;
	float: left;
}
.house_tabs .nav-tabs{
	border: none;
	background: #fff;
	/*-moz-box-shadow:2px 2px 5px #333333; 
	-webkit-box-shadow:2px 2px 5px #333333; 
	box-shadow:2px 2px 5px #333333;*/
}
.nav-tabs>li.active>a{
	border: none;
	padding: 10px 30px;
	background: #008DF3;
	color: #FFFFFF;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border: none;
	background: #008DF3;
	color: #FFFFFF;
}
.nav-tabs>li>a {
    margin-right: 0;
    color: #1A1A1A;
}
.jbxx{
	padding-bottom: 20px;
    overflow: hidden;
    /*background: #f9f9f9;*/
    margin-bottom: 20px;
}
.left_main .fl {
    width: 100%;
    float: left;
}
.left_title {
    height: 45px;
    line-height: 37px;
    letter-spacing: 1px;
    font-size: 16px;
    color: #222;
    padding: 3px 20px;
    /*border: 1px solid #f3f3f3;
    border-left: 4px solid #4C7FFE;*/
    margin-top: 20px;
    margin-bottom: 0;
    /*background: #f9f9f9;*/
}
.baseinfo {
    text-indent: 0;
}
.baseinfo a {
    width: 49%;
    /*width: 267px;*/
    display: inline-block;
    color: #222222;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none!important;
    
}
.baseinfo a:last-child{
	width: 100%;
}
.baseinfo a span{
	margin-left: 30px;
	color: #8e8e8e;
}
.baseinfo h4 a{
	float: right;
	color: #333333;
	font-weight: bold;
	font-size: 18px;
	text-align: right;
}
.news_detail{
	float: left;
	width: 20%;
    margin-top: 50px;
    background: #FFFFFF;
    margin-left: 5%;
}
.news_detail .left_title{
	margin-top: 0;
}
.intro_content{
	width: 100%;
    line-height: 21px;
    font-size: 14px;
    letter-spacing: 1px;
    overflow: hidden;
	padding: 20px 20px 10px 20px;
	border: 1px solid #EDEDED;
	background: #fff;
	-moz-box-shadow:2px 2px 5px #C6C6C6; 
	-webkit-box-shadow:2px 2px 5px #C6C6C6; 
	box-shadow:2px 2px 5px #C6C6C6;
}
#relative{
	background: none;
	border-bottom: 2px solid #fff;
	box-shadow: none;
	margin-bottom: 0px;
}
#relative.intro_content{
	/*background: red;*/
	padding: 0;
}
#relative.intro_content li{
	padding: 20px 20px 10px 20px;
	border-bottom: 1px solid #dad8d8;
}
#relative.intro_content li a{
	margin-bottom: 0;
}
.news_detail .intro_content.baseinfo a{
	width: 100%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/*border-bottom: 1px solid #222222;*/
}
.news_detail .intro_content.baseinfo a img{
	width: 40%;
	float: left;
	margin-right: 20px;
}
.news_detail .intro_content.baseinfo a div{
	width: 50%;
	float: left;
	margin-top: -10px;
}
.news_detail .intro_content.baseinfo a div h4{
	color: #111111;
	font-weight: bold;
	font-size: 14px;
}
.news_detail .intro_content.baseinfo a div span{
	font-size: 12px;
	margin-top: 5px;
	line-height: 28px;
}
.news_detail .intro_content.baseinfo a:hover{
	color: #4C7FFE;
	text-decoration: underline;
}
.news_detail .intro_content.baseinfo a span{
	/*float: right;*/
	margin-left: 0;
}
.jlyou, .jlquan, .kfjilu{
	width: 110px;
	height: 110px;
	background: url(../imgs/newing/894955672180422210.png) no-repeat;
	background-size: 100% 100%;
}
.jlyoubai {
    width: 110px;
    height: 110px;
    background:url(../imgs/newing/894955672180422210.png) no-repeat;
    background-size: 100% 100%;
}
.jlquannei {
    text-align: center;
}

.fontbaise {
    /*color: #fff;*/
}

.jlinfo {
	font-size: 14px;
    /*height: 32px;*/
    line-height: 32px;
    padding-top: 25px;
}
.housesty .fl {
    float: left;
    margin-right: 27px;
}
.fl:last-child{
	margin-right: 0px;
}
.cjname {
    height: 35px;
    line-height: 20px;
    font-size: 12px;
}
.housesty {
    overflow: hidden;
    /*border-top: 2px solid #f3f3f3;*/
    border-bottom: 2px solid #f3f3f3;
    padding-bottom: 20px;
}
#footer #footer1 .clear .clear_le{
	padding-top: 15px;
}


#new{
	cursor:pointer;
}
#buildmore{
	cursor:pointer;
}