* {
	font-size: 14px;
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
}
/*con*/

div.con {
	width: 1200px;
	overflow: hidden;
	margin: 30px auto;
	margin-top: 15px;
	/*display: none;*/
}

.con .con_ul {
	width: 100%;
	border: 0;
	overflow: hidden;
}
.con .con_ul img{
	width: 25%;
	margin: 50px 50px 30px 38%;
}
.con .con_wrap_left{
	width:77%;
	float: left;
}
.con .con_wrap_right{
	width: 22%;
	float: right;
} 
.con_wrap_right_top{
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}
.con_wrap_right_top img{
	width: 100%;
}
.con .con_ul .con_li {
	overflow: hidden;
	padding: 15px 30px;
	border-bottom: 1px solid #D3D3D3;
	margin: 0 50px;
	/*margin-bottom: 30px;*/
	background: #FFFFFF;
}
.con .con_ul .con_li:hover{
	background: #fafafa;
}
.con .con_ul .con_li a {
	color: #222222;
	width: 100%;
	height: 100%;
	display: inline-block;
}

.con .con_ul .con_li h4 {
	line-height: 30px;

	/*float: left;
	width: 10%;*/
	/*margin-bottom: 20px;*/
}
.con .con_ul .con_li div.area{
	width: 80px;height: 30px;
	line-height: 30px;
	text-align: center;
	background: #f3a000;
	margin-bottom: 15px;
	color: #FFFFFF;
	float: left;
	margin-right: 20px;
}
.con .con_ul .con_li h4 strong {
	color: #E43725;
	font-size: 18px;
}

.con .con_ul .con_li h4 span {
	font-size: 18px;
}

.con .con_ul .con_li .hd_con {
	width: 100%;
	float: left;
}

.con .con_ul .con_li .hd_con ul {
	width: 100%;
	/*margin-left: 30px;*/
}

.hd_con ul li {
	line-height: 40px;
	overflow: hidden;
}
.hd_con ul li>span{
	width: 12%;
	float: left;
}
.hd_con ul li p {
	
	width: 88%;
	float: left;
	/*margin-left: 70px;*/
	/*margin-top: -30px;*/
}

.con .con_ul .con_li .hd_right {
	width: 18%;
	float: right;
	margin-top: 20px;
	text-align: right;
}
.con .con_ul .con_li .hd_right span:last-child{
	color: #F25D00;
	font-size: 20px;
	font-weight: 600;
	display: block;
	width: 100%;
}

.con .con_ul .con_li .con_h4 {
	margin-top: 50px;
}



.con_top{
	width: 1190px;
	overflow: hidden;
	background: #FFFFFF;
	margin-bottom: 20px;
	margin-left: 50px;
}
.con_top a{
	float: left;
	margin: 0 20px;
	line-height: 50px;
}
.con .hotwords{
	width: 30%;
	float: left;
	height: 50px;
	overflow: hidden;
	white-space: nowrap;
}
.con .hotwords a{
	margin-right: 15px;
	line-height: 50px;
	color: #222222;
}
input[type=text] {
	outline: none;
	width: 82%;
	height: 50px;
	line-height: 5px;
	font-size: 16px;
	padding: 14px 18px;
	box-sizing: border-box;
	border: 1px solid #999999;
}

button {
	width: 12%;
	height: 50px;
	line-height: 50px;
	background-color: #4C7FFE;	
	border: none;
	outline: none;
	font-size: 20px !important;
	color: #fff;
	letter-spacing: 2px;
	box-sizing: border-box;
}
button img{
	width: 35%;
	margin-top: -5px;
	vertical-align: middle;
}

/*搜索*/

#search_box{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
#search_box .clear {
    /* width: 100%; */
    margin: 0 auto;
    text-align: center;
}
#search_box input {
    outline: none;
    width: 80%;
    height: 51px;
    line-height: 5px;
    font-size: 16px;
    padding: 14px 24px;
    box-sizing: border-box;
    background: #F6F6F6;
    border: none;
}
#search_box button {
    width: 10%;
    height: 60px;
    line-height: 51px;
    background: #008DF3;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    box-sizing: border-box;
    margin-left: -20px;
}
#search_box div.hot_words {
    color: #fff;
    line-height: 70px;
    overflow: hidden;
    margin-left: 8.5%;
    padding-left: 8.33%;
    text-align: center;
}
#search_box div.hot_words .hot_search {
    float: left;
    margin-right: 20px;
    color: #191919;
    /*width: 65px;*/
}
#key_list {
    width: 70%;
    text-align: left;
}
#search_box div.hot_words a {
    padding: 10px;
    color: #191919;
    text-decoration: none;
}

/*最新动态*/
.dongtai {
    overflow: hidden;
    margin-bottom: 25px;
    background: #F0F0F0;
}

.dt_list {
    padding: 15px;
}
.dt_list ul{
	width: 100%;
}
.dt_list ul li{
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 35px;
}
.dt_list a {
	width: 100%;
	color: #222222;
}
.dt_list a:hover{
	text-decoration: underline;
	color: #008DF3;
}
.line {
    width: 4px;
    height: 37px;
    background-color: #4C7FFE;
    border-radius: 0px 3px 3px 0px;
    float: left;
    display: inline-block;
}
.name {
    line-height: 37px;
    font-size: 18px;
    display: inline-block;
    margin-left: 25px;
}
.point {
    width: 4px;
    height: 4px;
    background: #bbb9c4;
    margin-right: 12px;
    margin-top: 10px;
    float: left;
}


/*查询*/
.col-md-12 {
    width: 100%;
    margin-left: 50px;
    background: white;
    margin-top: -20px;
}
.pull-left{
	width: 100%;
	line-height: 50px;
	border-bottom: 1px solid #EAEAEA;
	margin-bottom: 20px;
}
.pull-left a{
	color: #222222;
}
.pull-left li{
	border-right: 1px solid #eaeaea;
	padding: 0 50px;
	height: 100%;
	display: inline-block;
	color: #666666;
}
.pull-left li:last-child{
	border-right: 0;
}
.pull-left li.active{
	background: #4C7FFE;
	color: #FFFFFF;
}
.pull-left li.active a{
	color: #FFFFFF;
}
.col-md-12.top-search-nav{
	width: 1190px;
	padding-left: 0;
}
.con .con_ul .con_li div#price{
	width: auto;
	padding: 0 10px;
	background: #008DF3;
}
